:root {
  --black-color: #000;
  --whit-color: #fff;
  --header-hover-color: #4c4c4c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  min-width: 800px;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgb(255 255 255 /30%);
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}
